* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-gray: #dfdfe2;
  --dark-blue: #0a0a23;
  --blue: #99c9ff;
  --yellow: #feac32;
}

body {
  background-color: var(--dark-blue);
  color: var(--light-gray);
}

main {
  text-align: center;
}

h1 {
  margin: 30px 0;
}

.freecodecamp-logo {
  width: 250px;
  margin-top: 40px;
}

#change-due {
  text-transform: uppercase;
  padding: 20px;
  width: 200px;
  margin: auto;
  /* display: none; */
}

#change-due p {
  text-align: start;
  margin-top: 1px;
  font-size: 18px;
  display: none;
}

#change-due .status-heading {
  text-transform: capitalize;
}

.customer-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.customer-input label {
  font-size: 14px;
  margin: auto;
}

.customer-input input {
  padding: 3px;
}

#purchase-btn {
  background-color: #feac32;
  padding: 4px 8px;
  border: 2px solid #bd7b18;
  font-weight: bold;
  cursor: pointer;
}

#purchase-btn:active {
  background-color: #bd7b18;
  border-color: #8b560e;
  color: #ffffff;
}

.cash-register {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.total {
  border: 6px solid var(--blue);
  width: 150px;
  text-align: center;
  padding: 3px;
}
.big-line {
  width: 30px;
  height: 35px;
  margin-right: 70px;
  background: var(--blue);
}

.register-box {
  background-color: var(--blue);
  width: 250px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.register-square {
  display: flex;
}

.square-box {
  width: 10px;
  height: 10px;
  margin: 2px;
  background: #0a0a23;
}

.drawer-money {
  background: #ffffff;
  color: #0a0a23;
  text-align: start;
  padding: 10px;
}

.drawer-money p {
  margin-top: 1px;
}

.drawer-money-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.drawer-footer {
  width: 250px;
  height: 30px;
  margin: 10px 0px 20px;
  background: var(--blue);
  position: relative;
}

.drawer-footer::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #0a0a23;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
